<div class="row">
	<h2 class="titulo">Carreras</h2>
	<div class="row borde-bajo">
		<h5 class="subtitulo">Las carreras de los alumnos</h5>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-12 workspace">
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaCarrera"></table>
	</div>
</div>
