<div class="row">
	<h2 class="titulo">Alumnos</h2>
	<div class="row borde-bajo">
		<h5 class="subtitulo">Lista de los alumnos registrados</h5>
	</div>
</div>
</br>
<div class="row">
	<div class="col-md-12 workspace">
		<label class="texto-der oculto" id="txtMensajeRpta"></label>
		<table class="list issues" style="" id="tablaAlumno"></table>
	</div>
</div>
