<p>El find esta pequeña aplicación es realizar las siguientes pruebas automatizadas:</p>
<ul>
    <li>Pruebas funcionales - Selenium</li>
    <li>Pruebas unitarias a los javascript - QUnit</li>
    <li>Pruebas de comportamiento al backend - Ruby Spec</li>
    <li>Pruebas de carga - JMeter</li>
</ul>
